@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
body{
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
  font-family: 'Karla', sans-serif;
 
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  box-sizing: border-box;
  display: block;
}
a{
  text-decoration: none;
}
h1, h2, h3{
  margin: 0;
}
.none{
  display: none;
}
:root {
  --animation-time: 0.6s;
  --padding-x:25px;
  --padding-y:0px;  
  --margin-x:auto;
  --margin-y:0px;

  /*Colors  */
  --color__primary:	hsl(244, 66%, 17%); /* #120E47  rgb(18,14,71)*/
  --color__secundary:	hsl(197, 60%, 50%); 
  --color__font:hsl(244, 20%, 40%);

  --color__gray--low:hsl(210, 38%, 95%);
  --color__gray--light:hsl(246, 14%, 74%);
  
  /*font size  */  
  --font--sm:0.875em; /* 14px */
  --font--md:1em; /* 16px */
  --font--2md:1.125em; /* 18px */
  --font-lg:2em; /* 32px */
  --font-xl:2.375em; /* 38px */
  --font-2xl:2.5em; /* 40px */
  --font-3xl:3.25em; /* 52px */
  /* Small, medium, large, xlarge, 2xlarge */
}
.float-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--color__secundary);
  position: fixed;
  bottom: 1rem;
  right: .65rem;
  z-index: 100;
  transition: transform var(--animation-time);
  cursor: pointer;
}
.float-button::after {
  transform: rotate(90deg);
}

.icon--menu{
  width: 1.35rem;
  height: 4px;
  background-color: white;
  border-radius:5px;
}
.icon--menu::before{
  content: "";
  position: relative;
  display: block;
  bottom:8px;
  width: 1.35rem;
  height: 4px;
  background-color: white;
  border-radius:5px;
  transition: bottom var(--animation-time);
}
.icon--menu::after{
  content: "";
  position: relative;
  display: block;
  top:4px;
  width: 1.35rem;
  height: 4px;
  background-color: white;
  border-radius:5px;
  transition: top var(--animation-time);
}
.float-button.pulsed .icon--menu{
  background-color: transparent;
}
.float-button.pulsed .icon--menu::before{
  
  bottom: 0px;
  transform: rotate(40deg);
  transition: all var(--animation-time);
}
.float-button.pulsed .icon--menu::after{
  
  top: -4px;
  transform: rotate(-40deg);
  transition: all var(--animation-time);
}



.circular-menu {
  position: fixed;
  width: 16rem;
  height: 16rem;
  background: var(--color__secundary);
 
  bottom: -5.5rem;
  right: -6rem;
  border-radius: 50%;
  transform: scale(0) rotate(-180deg);
  opacity: 0;
  transition: all var(--animation-time);
  z-index: 50;
}
.menu__text{
  display: none;
}

.circular-menu.expand {
  transform: scale(1) rotate(0);
  opacity: 1;
 /*  box-shadow:  -20px -20px 60px #c4c4c4,
             20px 20px 60px #ffffff; */
             box-shadow:-5px -5px 30px 10px #f4f3ff, 20px 20px 30px 10px #f4f3ff ;
}

.circular-menu .menu__link.active {
  color: var(--color__primary);   
}
.menu__link.active .icon--nav{
  fill: var(--color__primary);
}
.circular-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  
}
.circular-menu a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.circular-menu li {
  position: absolute;
  width: 2rem;
  top: 2rem;
  left: calc(50% - 1rem);
  transform-origin: center 6rem;
  text-align: center;
}
.circular-menu li:nth-child(2) {
  transform: rotate(-30deg);
}
.circular-menu li:nth-child(2) a {
  transform: rotate(30deg);
}
.circular-menu li:nth-child(3) {
  transform: rotate(-60deg);
}
.circular-menu li:nth-child(3) a {
  transform: rotate(60deg);
}
.circular-menu li:nth-child(4) {
  transform: rotate(-90deg);
}
.circular-menu li:nth-child(4) a {
  transform: rotate(90deg);
}

/* End Navigation Component */
.container {
  display: flex;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  scroll-snap-type: y mandatory; 
}
.container .container__section {
  position: sticky;
  scroll-snap-align: center; 
  min-height: 100%;
}
.container__section:nth-child(1){
  background-image: url(/resource/bg/bg-top-right.svg);
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
}
.section__row{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  /* min-width: fit-content; */
  justify-content: center;
  padding: var(--padding-y) var(--padding-x);
  margin: var(--margin-y) var(--margin-x);
  overflow: hidden;
  row-gap: 20px;
}

.row__box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  width: 100%;
}

.box__tittle{
  color: var(--color__secundary);
  font-weight: 700;
  font-size: var(--font--md);
  letter-spacing: .2px;
  line-height: 27px;
}
.row__box--contact{
  height: 80%;
  justify-content: center;
  border-radius: 32px;
  background-color: #E9F9FF;
 align-items: center; 
}
.row__box--contact::before{
      content: "";
    position: absolute;
    left: -5%;
    top: auto;
    right: auto;
    bottom: 3%;
    z-index: 2;
    width: 40%;
    height: 100px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    background-image: url(/resource/icons/bg-points.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box__tittle--content{
  color: var(--color__secundary);  
  text-transform: uppercase;
}
.row__box--contact .box__tittle--content{
  text-align: center;
}
.strong{
  display:block;
  color: var(--color__primary);
  font-size: var(--font-lg);
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  margin-left: -2px;
  letter-spacing: 0;
}
.strong--content{
  
  text-transform: capitalize;
}
.box__span{
  color: var(--color__font);
  font-size: var(--font--md);
  max-width: 80%;
  line-height: 24px;
  }
.box__span.content{
  max-width: 100%;
}
.box__span.content strong{
  font-weight: 800;
}
  .icon__nav{
    fill: red;
    display: block;
  }
  .img__photo{
    object-fit: cover;
    width: 100%;
    height:40%;
  }
  /* Button component */
  .btn.active{
    color: white;
    background-color: white;
  }
  .btn{
    position: relative;
    display: flex;    
    overflow: hidden;
    background-color:  var(--color__primary);
    color: var(--color__primary);
    text-decoration: none;
    padding: 13px 30px;
    align-items: center;
    width: fit-content;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    z-index:1;
    transition: color 0s linear;
    font-size: var(--font--md);
    line-height: 20px;    
  }
  
  .btn .icon{
    z-index: 2;
    fill: var(--color__primary);
    width: 25px;
    height: 25px;
    transform: scale(.8);
  }
  .btn.active .icon{
    fill: white;
  }
  .icon--social{
    width: 15pt;
    height: 15pt;
    fill: var(--color__font) ;
    padding: 4px;
    border-radius: 25%;
    background-color: var(--color__gray--low);    
  }
  .icon--nav{
    width: 18pt;
    height: 18pt;
    fill: white;
  }
  /* End component button */

  /* Effect hover button */
  .btn:hover:before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
   
  .btn:hover {
    color:   white;
    border: 1px solid var(--color__primary);
    transition: color var(--animation-time) linear var(--animation-time);
  }
  .btn.active:hover{
    color: var(--color__primary);
  }
  .btn:before {
      content: "";
      position: absolute;
      top: 0;
      left: 100px;
      right: 0;
      bottom: 0;
      height: 400px;
      width: 400px;
      border-radius: 100%;
      background-color: #ffffff;
    z-index: -1;
    transition: all 0.5s linear;
    transform: translate(-50%, -50%);    
  }
  .btn.active::before{
    background-color: var(--color__primary);
  }
  
  .btn:hover .icon{
    fill: white;
    transition: fill var(--animation-time) linear var(--animation-time);   
  }
  .btn.active:hover .icon{
    fill: var(--color__primary);
  }  
  .btn--social:hover .icon--social{
    fill: var(--color__primary);
  }

  /* End effect component button */

  
  .box__card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  /* Start component card */
  .card{
    display: flex;
    position: relative;
    flex-direction: column; 
    padding: 1rem 1rem; 
    border: 1px solid transparent;
    width: 80%;
    align-self: center;
    border-radius: 20px;
    min-height: 10rem;
    justify-content: center;
    /* box-shadow: 20px 20px 30px 10px blue,
    -5px -5px 30px 10px red; */
  }
  .card:hover{
   /*  background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    box-shadow: 20px 20px 30px 10px #F4F3FF,    
    -5px -5px 30px 10px #F4F3FF; 
  }
  .card__header{
    display: flex;
    flex-direction: row;
    align-items:center;
    column-gap: 10px;
    color: rgb(18,14,71, .8);    
    line-height: 5px;
    font-weight: 600;
    justify-content: center;
  }
  .card:hover .card__header{
    color: var(--color__primary);
  }
  .card:hover .icon__skill{
    fill: var(--color__primary);
  }
  .icon__skill{
    width: 20pt;
    height: 20pt;
    fill: rgb(18,14,71, .8); 
  }
  .list__card{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
  .li__card{
    color: var(--color__font);
    font-size: var(--font--md);
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }
  /* End component card */
  /* Start Component */
  .portfolio__list{
    display: grid;
    grid-template-columns: repeat(2,minmax( 130px, 1fr));    
    grid-auto-flow: row dense;
    color: rgb(18,14,71, .8);
    font-weight: 600;
    width: 100%;
    font-size: var(--font--md);
    text-align: center;
  }
  .portfolio__list::after{
    content: "";
    position: absolute;
    left: auto;
    top: 10%;
    right: 0%;
    bottom: auto;
    z-index: -1;
    width: 40%;
    min-height: 370px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    background-color: #fff5f6;
  }
  .portfolio__li{
    border: 2px solid var(--color__gray--light);
    color: rgb(18,14,71, .8);
    padding: 3px;
    cursor: pointer;
    font-weight: 700;
  }
  .portfolio__li:nth-child(n+5){
    border-top: none;
  }
  .portfolio__li:nth-child(4), .portfolio__li:nth-child(8){
    border-left: none;
  }
  .portfolio__inp:checked + .portfolio__li{
    border-bottom: 2px solid rgb(18,14,71, .8);
    color: var(--color__primary);
    
  }
  /* End Component  checklist portfolio*/
  /*Start Section portfolio */
.img__porftolio{
  width: 100%;
  object-fit: contain;
  filter: hue-rotate(90deg);
  
}
.portfolio__box{
  display: flex;
  flex-direction: row;
  overflow-x: scroll; 
  width: 100%;
  scroll-snap-type: x mandatory;
  column-gap: 20px;
  padding-top: 20px;
}
.box__portfolio{
  display: flex;
  flex-direction: column;
  min-width: calc(100vw - calc(var(--padding-x)* 2));
  scroll-snap-align: center; 
  row-gap: 15px;
  height: 100%;
  
}
.box__tittle--portfolio{
  color: var(--color__primary);
  font-weight: 500;
  font-size: var(--font--2md);
}
.strong--portfolio{
  margin-top: 10px;
  font-size: var(--font--md);
  color: var(--color__secundary);
  display: block;
}
  /* ::-webkit-scrollbar {
    width: 0px;
  } */
@media (min-width: 640px) {  
  .section__row{
    align-items: center;
  }
  .row__box{
    height: 80%;
  }
  .row__box--presentation{   
    text-align: center;    
    align-items: center;
    height: initial;
  }
  .section__row--presentation{
    flex-direction: row;
  }
  .row__box--about{
    height: 50%;
  }
  .box__tittle{
    justify-self: start;
  }
  .row__box--contact {
    justify-content: center;
  }
  .box__tittle--portfolio{
    text-align: center;
  }
  .portfolio__list{
    grid-template-columns: repeat(4,minmax( 130px, 1fr));
  }
  .portfolio__li{
    border: none;
    border-bottom: 2px solid var(--color__gray--light);  
    padding: 16.76px;  
    text-align: center;
  }
  .box__portfolio{
    align-items: center;
  }
  .img__porftolio{
    width: 55%;
    height: 100%;
  } 
}
@media (min-width: 768px) {  
  .container{
    counter-reset: section;
  }
  .container__section::after {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .6rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 2px solid var(--color__secundary);
    counter-increment: section;
    content: "0"counters(section,"") ;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--color__secundary);
}
  .box__card {
    flex-direction: row;
    align-items: center;
  }
  .card{
    height: fit-content;
    justify-content: flex-start;
    align-self: initial;
    row-gap: 10px;
  }
  .float-button{
    top: 1rem;
  }
  .circular-menu.expand{
    border-radius: initial;
    box-shadow: initial;
    right: 0px;
    transition: right var(--animation-time);
  }
  .circular-menu {
    top: 0rem;    
    transform: initial;
    transition: initial;
    right: -15rem;
    transition: right var(--animation-time);
    width: 15rem;    
    border-radius: initial;
    opacity: 1;
    height: 100%;
  }
  .circular-menu a{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }  
  .circular-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
  }
  .circular-menu li{
    width: 60%;
    position: initial;
    transform-origin: initial;
  }
  .menu__text{
    display: initial;
  }
}
@media (min-width: 1024px) {
  
  .row__box--contact{
    height: 70%;
    width: 80%;
    align-self: center;
  }
  .img__porftolio {
    height: 80%;
  }
}  